body{
    background-color: black;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
.heading{
    color: white;
    display: inline-block;
}
button{
    width: 150px;
    margin-left: 20px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-weight: bolder;
    visibility: hidden;
}

@media screen and (min-width:1000px) and (max-width:3000px) {
    button{
        visibility: visible;
    }
    .heading{
        visibility: hidden;
    }
}